{{ define "main" }}

<section class='page container mt-5'>

    <div class='row justify-content-center'>

        <div class='col-lg-8'>
            <h1 class="title">{{ .Title }}</h1>

            {{ .Content }}

            {{/* List all content under /tutorials/
            <h4>All Tutorials on Siril.org</h4>
            <ul>
                {{ range .Data.Pages -}}
                    <li>
                        <a href="{{ .Permalink }}">
                            <span>
                                {{ .Title }}
                            </span>
                            {{ if not .Date.IsZero }}
                                <time>
                                    {{- .Date.Format (.Site.Params.dateform | default "Jan 02, 2006") -}}
                                </time>
                            {{end}}
                        </a>
                    </li>
                {{- end }}
            </ul>
            */}}

        </div>

    </div>

</section>

{{ end }}
