<section class="recent-post container my-5">

    {{ with first 1 (where .Site.RegularPages "Type" "posts") }}
    <div class='row justify-content-center text-center mb-3'>
        <div class='col'>
            <h2 class='border-bottom d-inline-block mt-0'>{{ i18n "recent-news" }}</h2>
        </div>
    </div>
    {{ end }}


    <div class="row justify-content-center text-center mb-3">

        {{ range first 4 (where  .Site.RegularPages "Type" "in" (slice "download" "posts") )  }}

        <div class="col-lg-6 mb-4">
            <h4 class='mb-0 mt-0'>
                <a href="{{ .Permalink }}">
                    {{ .Title }}
                </a>
            </h4>
            <small>
                {{ if and (.IsTranslated) (eq .Lang "fr") }}
                    {{ .Date.Year }}  {{ index $.Site.Data.moisabbrev (printf "%d" .Date.Month) }} {{ .Date.Day }} par 
                {{ else }}
                    {{ .Date.Format "2006 Jan 02" }} by 
                {{ end }}

                {{ .Params.author }}
            </small>
        </div>

    {{ end }}
    </div>

    <hr class="featurette-divider my-5">

</section>

