html {font-size: 100%;} /*16px*/

body {
  font-weight: 400;
  line-height: 1.75;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 2.72rem;
}

h2 {font-size: 2.052rem;}

h3 {font-size: 1.633rem;}

h4 {font-size: 1.52rem;}

h5 {font-size: 1.45rem;}

small, .text_small {font-size: 0.8rem;}
